---
layout: layouts/base.njk
pagination:
 data: collections.exifPhotos
 size: 4
 alias: photoList
---

<main>
  <a href="/"><h1>JAMStack Photo site</h1></a>
  <h2>An example site generated using exif data extracted from photos</h2>

  {# This should be a ul :| #}
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="no-underline hover:underline font-normal text-gray-700">#{{ tag | slug }}</a>,
  {% endfor %}

  <h3>{{ collections.exifPhotos.length }} photos</h3>


  <ul>
    {% for photo in photoList %}
      {# Try and detect if the photo is portrait, useful for styling #}
      {% set isPortrait = false %}
        {% if photo.data.exif.PixelXDimension and photo.data.exif.PixelYDimension %}
          {% if photo.data.exif.PixelXDimension < photo.data.exif.PixelYDimension %}
          {% set isPortrait = true %}
        {% endif %}
      {% endif %}
        <li>
            <a href="{{ photo.url }}">
              <figure>
                  <noscript>
                    <img alt="{{ photo.data.image.ImageDescription }}" src="/photos/w520/{{ photo.data.image_path }}">
                  </noscript>
                  <img class="lazy" src="/photos/blur/{{ photo.data.image_path }}" alt="{{ photo.data.image.ImageDescription }}" data-src="/photos/w520/{{ photo.data.image_path }}">
                  <figcaption>
                      <time>Photo taken {{ photo.data.exif.DateTimeOriginal | readableDate }}</time>
                  </figcaption>
              </figure>
            </a>
        </li>
    {% endfor %}
  </ul>

  <nav>
    <ol>
      {% if pagination.href.previous %}
        <li><a href="{{ pagination.href.previous }}">Previous</a></li>
      {% endif %}
      {%- for pageEntry in pagination.pages %}
        <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
      {%- endfor %}
      {% if pagination.href.next %}
        <li><a href="{{ pagination.href.next }}">Next</a></li>
      {% endif %}
    </ol>
  </nav>

  <footer>
    <a href="https://www.chriscollins.me">Project by Chris Collins</a>
  </footer>
</main>


